[Unit]
Description=shutters service

[Service]
Type=simple
WorkingDirectory=/opt/shutters
ExecStart=/opt/shutters/wsgi.sh
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target
