[Unit]
Description=shutters service

[Service]
Type=forking
WorkingDirectory=/opt/shutters
ExecStart=/opt/shutters/wsgi.sh
Restart=always

[Install]
WantedBy=multi-user.target